<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="personal-website">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>Personal Website Admin Portal</title>

    <!-- SPELLS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script><!-- load angular -->

    <script src="js/controllers/adminController.js"></script> <!-- load up our controller -->
    <script src="js/services/jobService.js"></script> <!-- load our job service -->
    <script src="js/services/projectService.js"></script> <!-- load our job service -->
    <script src="js/core.js"></script> <!-- load our main application -->

</head>
<!-- SET THE CONTROLLER -->
<body ng-controller="adminController">
<div class="container">

    <div class="jumbotron text-center">
        <h1>John Wu's Personal Website Admin Portal</h1>
    </div>

    <section id="jobs">
        <h2><u>My Jobs</u></h2>
        <h4>Current Jobs</h4>
        <div class="job-list" ng-repeat="job in jobs">
            <p>{{ job.position }} at {{ job.company }} - {{ job.description }} - {{ job.start }} to {{ job.end }}</p>
            <button type="submit" class="btn btn-primary btn-lg" ng-click="deleteJob(job._id)">Delete</button>
        </div>
        <h3>Add a job: </h3>
        <div class="form-group">
            <input type="text" class="form-control input-lg text-center" placeholder="Position" ng-model="formData.position">
            <input type="text" class="form-control input-lg text-center" placeholder="Company" ng-model="formData.company">
            <input type="text" class="form-control input-lg text-center" placeholder="Description" ng-model="formData.description">
            <input type="text" class="form-control input-lg text-center" placeholder="Start" ng-model="formData.start">
            <input type="text" class="form-control input-lg text-center" placeholder="End" ng-model="formData.end">
        </div>
        <button type="submit" class="btn btn-primary btn-lg" ng-click="addJob()">Add</button>
    </section>

</div>

</body>
</html>
