<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="personal-website">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>Personal Website Admin Portal</title>

    <!-- SPELLS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script><!-- load angular -->

    <script src="js/controllers/adminController.js"></script>
    <script src="js/services/jobService.js"></script>
    <script src="js/services/projectService.js"></script>
    <script src="js/services/languageService.js"></script>
    <script src="js/services/frameworkService.js"></script>
    <script src="js/services/emailService.js"></script>
    <script src="js/core.js"></script> <!-- load our main application -->

</head>
<!-- SET THE CONTROLLER -->
<body ng-controller="controller">
<div class="container">

    <div class="jumbotron text-center">
        <h1>John Wu's Personal Website Admin Portal</h1>
    </div>

    <section id="jobs">
        <h2><u>My Jobs</u></h2>
        <h4>Current Jobs</h4>
        <div class="job-list" ng-repeat="job in jobs">
            <p>{{ job._id }} - {{ job.position }} at {{ job.company }} - {{ job.description }} - {{ job.start }} to {{ job.end }} - {{ job.logo }}</p>
            <button type="submit" class="btn btn-primary btn-lg" ng-click="deleteJob(job._id)">Delete</button>
        </div>
        <h3>Add a job: </h3>
        <div class="form-group">
            <input type="text" class="form-control input-lg text-center" placeholder="Position" ng-model="jobsFormData.position">
            <input type="text" class="form-control input-lg text-center" placeholder="Company" ng-model="jobsFormData.company">
            <input type="text" class="form-control input-lg text-center" placeholder="Description" ng-model="jobsFormData.description">
            <input type="text" class="form-control input-lg text-center" placeholder="Start" ng-model="jobsFormData.start">
            <input type="text" class="form-control input-lg text-center" placeholder="End" ng-model="jobsFormData.end">
            <input type="text" class="form-control input-lg text-center" placeholder="Logo" ng-model="jobsFormData.logo">
        </div>
        <button type="submit" class="btn btn-primary btn-lg" ng-click="addJob()">Add</button>
        <h3>Update a job: </h3>
        <div class="form-group">
            <input type="text" class="form-control input-lg text-center" placeholder="ID" ng-model="jobsUpdateFormData.id">
            <input type="text" class="form-control input-lg text-center" placeholder="Position" ng-model="jobsUpdateFormData.position">
            <input type="text" class="form-control input-lg text-center" placeholder="Company" ng-model="jobsUpdateFormData.company">
            <input type="text" class="form-control input-lg text-center" placeholder="Description" ng-model="jobsUpdateFormData.description">
            <input type="text" class="form-control input-lg text-center" placeholder="Start" ng-model="jobsUpdateFormData.start">
            <input type="text" class="form-control input-lg text-center" placeholder="End" ng-model="jobsUpdateFormData.end">
            <input type="text" class="form-control input-lg text-center" placeholder="Logo" ng-model="jobsUpdateFormData.logo">
        </div>
        <button type="submit" class="btn btn-primary btn-lg" ng-click="updateJob(jobsUpdateFormData.id)">Update</button>
    </section>

    <section id="projects">
        <h2><u>My Projects</u></h2>
        <h4>Current Projects</h4>
        <div class="project-list" ng-repeat="project in projects">
            <p>{{ project._id }} {{ project.name }} - {{ project.description }} - {{ project.time }} - {{ project.photo }} - {{ project.technologies }} - {{ project.code }}</p>
            <button type="submit" class="btn btn-primary btn-lg" ng-click="deleteProject(project._id)">Delete</button>
        </div>
        <h3>Add a project: </h3>
        <div class="form-group">
            <input type="text" class="form-control input-lg text-center" placeholder="Name" ng-model="projectsFormData.name">
            <input type="text" class="form-control input-lg text-center" placeholder="Description" ng-model="projectsFormData.description">
            <input type="text" class="form-control input-lg text-center" placeholder="Time" ng-model="projectsFormData.time">
            <input type="text" class="form-control input-lg text-center" placeholder="Photo URL" ng-model="projectsFormData.photo">
            <input type="text" class="form-control input-lg text-center" placeholder="Technologies" ng-model="projectsFormData.technologies">
            <input type="text" class="form-control input-lg text-center" placeholder="Code" ng-model="projectsFormData.code">
        </div>
        <button type="submit" class="btn btn-primary btn-lg" ng-click="addProject()">Add</button>
        <h3>Update a project: </h3>
        <div class="form-group">
            <input type="text" class="form-control input-lg text-center" placeholder="ID" ng-model="projectsUpdateFormData.id">
            <input type="text" class="form-control input-lg text-center" placeholder="Name" ng-model="projectsUpdateFormData.name">
            <input type="text" class="form-control input-lg text-center" placeholder="Description" ng-model="projectsUpdateFormData.description">
            <input type="text" class="form-control input-lg text-center" placeholder="Time" ng-model="projectsUpdateFormData.time">
            <input type="text" class="form-control input-lg text-center" placeholder="Photo URL" ng-model="projectsUpdateFormData.photo">
            <input type="text" class="form-control input-lg text-center" placeholder="Technologies" ng-model="projectsUpdateFormData.technologies">
            <input type="text" class="form-control input-lg text-center" placeholder="Code" ng-model="projectsUpdateFormData.code">
        </div>
        <button type="submit" class="btn btn-primary btn-lg" ng-click="updateProject(projectsUpdateFormData.id)">Update</button>
    </section>

    <section id="languages">
        <h2><u>My Languages</u></h2>
        <h4>Current Languages</h4>
        <div class="language-list" ng-repeat="language in languages">
            <p>id = {{ language._id }}</p>
            <p>{{ language.name }} - {{ language.strength }}</p>
            <button type="submit" class="btn btn-primary btn-lg" ng-click="deleteLanguage(language._id)">Delete</button>
        </div>
        <h3>Add a language: </h3>
        <div class="form-group">
            <input type="text" class="form-control input-lg text-center" placeholder="Name" ng-model="languagesFormData.name">
            <input type="text" class="form-control input-lg text-center" placeholder="Strength" ng-model="languagesFormData.strength">
        </div>
        <button type="submit" class="btn btn-primary btn-lg" ng-click="addLanguage()">Add</button>
        <h3>Update a language: </h3>
        <div class="form-group">
            <input type="text" class="form-control input-lg text-center" placeholder="ID" ng-model="languagesUpdateFormData.id">
            <input type="text" class="form-control input-lg text-center" placeholder="Name" ng-model="languagesUpdateFormData.name">
            <input type="text" class="form-control input-lg text-center" placeholder="Strength" ng-model="languagesUpdateFormData.strength">
        </div>
        <button type="submit" class="btn btn-primary btn-lg" ng-click="updateLanguage(languagesUpdateFormData.id)">Update</button>
    </section>


    <section id="frameworks">
        <h2><u>My Frameworks</u></h2>
        <h4>Current Frameworks</h4>
        <div class="framework-list" ng-repeat="framework in frameworks">
            <p>{{ framework.name }} - {{ framework.photo }}</p>
            <button type="submit" class="btn btn-primary btn-lg" ng-click="deleteFramework(framework._id)">Delete</button>
        </div>
        <h3>Add a framework: </h3>
        <div class="form-group">
            <input type="text" class="form-control input-lg text-center" placeholder="Name" ng-model="frameworksFormData.name">
            <input type="text" class="form-control input-lg text-center" placeholder="Photo" ng-model="frameworksFormData.photo">
        </div>
        <button type="submit" class="btn btn-primary btn-lg" ng-click="addFramework()">Add</button>
    </section>

</div>

</body>
</html>
